.contest {
  margin-bottom: 15px;
}

.contest__slogan {
  margin: 0 auto;
  margin-bottom: 33px;
  padding-top: 45px;
  width: 280px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.contest__info {
  display: none;
}

.contest__wrapper {
  width: 280px;
  margin: auto;
}

.contest__text {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.contest__asterisk {
  color: $pink;
}

.contest__hide-text {
  display: none;
}


@media (min-width: $tablet-width) {
  .contest__slogan {
    margin-bottom: 70px;
    padding-top: 94px;
    width: 490px;
    font-size: 18px;
  }

  .contest__info {
    display: inline-block;
  }

  .contest__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 27px;
    margin-bottom: 30px;
    width: 620px;
  }
}

@media (min-width: $desktop-width) {
  .contest {
    margin: 0;
  }

  .contest__slogan {
    width: 756px;
    margin-bottom: 83px;
  }

  .contest__wrapper {
    margin-top: 8px;
    margin-bottom: -20px;
    width: 940px;
  }

  .contest__hide-text {
    display: inline;
    color: $base-color;
  }
}
