.contest__slogan {
  padding-top: 50px;
  padding-bottom: 45px;
  font-size: 14px;
  line-height: 30px;
}

.contest__wrapper {
  width: 280px;
  margin: auto;
}

.contest__text {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.contest__text span {
  color: $pink;
}

@media (min-width: $tablet-width) {
  .contest__slogan {
    width: 500px;
    margin: 0 auto;
    font-size: 18px;
  }

  .contest__wrapper {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .contest__slogan {
    width: 750px;
  }

  .contest__wrapper {
    width: 936px;
  }
}
