.contacts {
  padding-top: 45px;
}

.contacts__title {
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
}

.contacts__list {
  @include list-reset;
}

.contacts__text {
  font-weight: 700;
}

.contacts__info {
  font-size: 24px;
  font-weight: 300;
  color: $pink;
}

.contacts__link {
  color: $pink;
}
