.contacts {
  padding-top: 45px;
  text-align: center;
}

.contacts__title {
  margin: 0 auto;
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
}

.contacts__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
}

.contacts__item {
  margin-bottom: 28px;
}

.contacts__text {
  margin: 0;
  font-weight: 700;
  text-align: center;
}

.contacts__info {
  margin: 0;
  font-size: 24px;
  font-weight: 300;
  color: $pink;
}

.contacts__link {
  color: $pink;
}

@media (min-width: $tablet-width) {
  .contacts__list {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .contacts__item {
    padding: 0;
    width: 210px;
  }

  .contacts__title {
    width: 370px;
    font-size: 40px;
    line-height: 40px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__title {
    width: 462px;
    font-size: 50px;
    line-height: 50px;
  }

  .contacts__list {
    justify-content: center;
  }

  .contacts__item {
    &:nth-child(2) {
      order: 1;
    }
  }
}
