.download-app {
  padding-bottom: 450px;
  text-align: center;
  background-color: $navy-blue;
  color: $white;
}

.download-app__bg {
  height: 367px;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: bottom left;
}

.download-app__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 345px;
  width: 280px;
}

.download-app__slogan {
  margin: 0;
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
}

.download-app__list {
  @include list-reset;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 205px;
}

.download-app__info {
  margin: 0;
  margin-top: 30px;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

.download-app__link {
  display: block;

  &--app-store {
    margin-top: 32px;
    width: 47px;
    height: 56px;
    background-image: url("../img/logo-apple.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &--google-play {
    margin-top: 40px;
    width: 43px;
    height: 47px;
    background-image: url("../img/logo-android.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &--microsofr-store {
    margin-top: 44px;
    width: 44px;
    height: 41px;
    background-image: url("../img/logo-microsoft.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

@media (min-width: $tablet-width) {
  .download-app__slogan {
    margin: 0;
    margin-left: 58px;
    margin-bottom: 39px;
    width: 186px;
    font-size: 40px;
    line-height: 40px;
  }

  .download-app__bg {
    height: 545px;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-repeat: no-repeat;
    background-size: 660px 545px;
  }

  .download-app__wrapper {
    margin: 0;
    width: 300px;
  }
}

@media (min-width: $desktop-width) {
  .download-app__slogan {
    margin-left: 32px;
    margin-top: -10px;
    margin-bottom: 58px;
    width: 231px;
    font-size: 50px;
    line-height: 50px;
  }
}

@media (min-width: $tablet-width) {
  .download-app {
    padding: 0;
  }
}
