.download-app {
  padding-top: 28px;
  background-color: $base-color;
  color: $white;
}

.download-app__slogan {
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
}

.download-app__list {
  @include list-reset;
}

.download-app__info {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}
