.features-app {
  padding-top: 46px;
}

.features-app__slogan {
  margin: 0;
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}

.features-app__wrapper {
  display: flex;
  flex-direction: column;
}

.features-app__background {
  padding-top: 80px;
  background-color: $grey;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-size: 101% auto;
  background-position: 50% 0;
}

.features-app__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  position: relative;
}

.features-app__list::after {
  content: "";
  height: 279px;
  width: 157px;
  margin: 0 auto;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.features-app__item {
  margin-bottom: 40px;
}

.features-app__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.features-app__info {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .features-app__slogan {
    width: 590px;
    margin-bottom: 5px;
    font-size: 40px;
    line-height: 40px;

    &--second {
      text-align: center;
    }
  }

  .features-app__background {
    padding: 0;
  }

  .features-app__wrapper {
    flex-direction: row;
  }

  .features-app__list {
    margin-top: 65px;
    width: 310px;
  }
}

@media (min-width: $desktop-width) {
  .features-app__slogan {
    width: 940px;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
  }

  .features-app__wrapper {
    width: 940px;
  }

  .features-app__list {
    width: 900px;
    flex-direction: row;
    justify-content: space-between;
  }

  .features-app__item {
    width: 236px;
  }

  .features-app__title {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }

  .features-app__info {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
}
