.form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.form__group {
  position: relative;
  padding: 0;
  margin: 0 auto;
  width: 280px;
  border: none;

  &--checkbox {
    margin-top: 82px;
  }

  &--radio {
    margin-top: 82px;
    background-color: $grey;
  }

  &--textarea {
    margin-top: 41px;
  }
}

.form__bg {
  margin-top: 44px;
  background-color: $grey;
}

.form__group--contacts legend {
  display: none;
}

.form__list {
  @include list-reset;
}

.form__label {
  margin-left: 22px;
  display: block;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: $pink;
}

.form__input {
  margin-top: 6px;
  margin-bottom: 16px;
  padding-left: 22px;
  display: block;
  width: 276px;
  height: 59px;
  line-height: 30px;
  border: 2px solid $border-grey;

  &:hover {
    border-color: $base-color;
  }

  &:active {
    border-color: $pink;
  }

  &:focus {
    outline: none;
    border-color: $pink;
  }
}

.form__input::-webkit-input-placeholder {
  color: $base-color;
}

.form__group legend {
  margin-left: 28px;
  width: 220px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $pink;
}

.form__group--checkbox li {
  margin-bottom: 52px;

  &:last-child {
    margin-bottom: 50px;
  }
}

.form__group--radio li {
  margin-bottom: 43px;

  &:last-child {
    margin-bottom: 54px;
  }
}

.form__custom-checkbox,
.form__custom-radio {
  position: relative;
  padding-left: 70px;

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: -7px;
    left: 0;
    width: 37px;
    height: 36px;
    background-color: $white;
    border: 2px solid $border-grey;
  }

  &:hover::before {
    border-color: $base-color;
  }

  &:active::before {
    border-color: $pink;
  }
}

.form__custom-radio {
  &::before {
    border-radius: 50%;
  }
}

.form__checkbox:checked + .form__custom-checkbox::before {
  background-image: url("../img/icon-yes.svg");
  background-position: center;
  background-repeat: no-repeat;
}


.form__radio:checked + .form__custom-radio::after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 11px;
  width: 15px;
  height: 15px;
  background-color: $pink;
  border-radius: 50%;
}

.form__textarea {
  margin-top: 15px;
  margin-bottom: 52px;
  padding-top: 15px;
  padding-left: 17px;
  width: 100%;
  min-height: 200px;
  line-height: 30px;
  text-align: left;
  border: 2px solid $border-grey;
  outline: none;

  &:hover {
    border-color: $base-color;
  }

  &:active {
    border-color: $pink;
  }
}

.form__textarea::-webkit-input-placeholder {
  color: $base-color;
}

@media (min-width: $tablet-width) {
  .form__list--name li {
    display: flex;
    margin-bottom: 55px;
  }

  .form__label {
    margin-right: 22px;
  }

  .form__input {
    width: 520px;
  }

  .form__group {
    border: 2px solid $border-grey;
  }

  .form__group--name {
    order: -3;
    border: none;
  }

  .form__group--radio {
    order: -2;
  }

  .form__group--contacts {
    order: -1;
  }

  .form__group--contacts legend {
    display: block;
  }

  .form__list--contacts li {
    display: flex;
    flex-direction: column;
  }

  .form__list--contacts label {
    padding-left: 217px;
    order: 1;
  }

  .form__list--contacts input {
    margin: 0 auto;
    width: 500px;
  }

  .form__textarea {
    margin-left: 60px;
    width: 496px;
    height: 189px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__group {
    &--checkbox {
      width: 936px;
      background-color: $white;
    }

    &--radio {
      background-color: $white;
    }
  }

  .form__list--name {
    width: 500px;
  }

  .form__list--contacts {
    display: flex;
    justify-content: space-around;
  }

  .form__list--contacts li {
    margin-bottom: 25px;
  }

  .form__list--contacts input {
    width: 371px;
  }

  .form__group--contacts {
    width: 936px;
  }

  .form__textarea {
    margin-right: 60px;
    width: 816px;
  }
}
