.form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.form__group {
  position: relative;
  margin: 0 auto;
  padding: 33px calc((100vw - 280px) / 2) 27px;
  width: 280px;
  border: none;

  &--checkbox,
  &--radio {
    width: 100%;
    background-color: $grey;
  }

  &--textarea {
    width: 87vw;
    padding: 33px 6vw 27px;
  }
}

.form__group legend {
  position: absolute;
  margin-left: 28px;
  width: 220px;
  top: 36px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $pink;
}

.form__group--contacts legend {
  display: none;
}

.form__list {
  @include list-reset;

  &--contacts {
    margin-top: -2px;
  }

  &--checkbox {
    margin-top: 82px;
  }

  &--radio {
    margin-top: 82px;
  }
}

.form__label {
  margin-left: 22px;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: $pink;
}

.form__input {
  margin-top: 6px;
  margin-bottom: 16px;
  padding-left: 22px;
  width: 280px;
  height: 63px;
  border: 2px solid $border-grey;
  font-size: 18px;
  line-height: 30px;

  &:hover {
    border-color: $base-color;
  }

  &:active {
    border-color: $pink;
  }

  &:focus {
    border-color: $pink;
    outline: none;
  }
}

.form__input::-webkit-input-placeholder {
  color: $base-color;
}

.form__list--checkbox li {
  margin-bottom: 52px;

  &:last-child {
    margin-bottom: 20px;
  }
}

.form__list--radio li {
  margin-bottom: 43px;

  &:last-child {
    margin-bottom: 22px;
  }
}

.form__custom-checkbox,
.form__custom-radio {
  position: relative;
  padding-left: 70px;
  line-height: 30px;

  &::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: -7px;
    width: 35px;
    height: 35px;
    border: 2px solid $border-grey;
    background-color: $white;
  }

  &:hover::before {
    border-color: $base-color;
  }

  &:active::before {
    border-color: $pink;
  }
}

.form__custom-radio {
  &::before {
    border-radius: 50%;
  }
}

.form__checkbox:checked + .form__custom-checkbox::before {
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form__checkbox:focus + .form__custom-checkbox::before {
  border: 2px solid $pink;
}

.form__radio:checked + .form__custom-radio::after {
  content: "";
  position: absolute;
  display: block;
  top: 3px;
  left: 10px;
  width: 15px;
  height: 15px;
  background-color: $pink;
  border-radius: 50%;
}

.form__radio:focus + .form__custom-radio::before {
  border: 2px solid $pink;
}

.form__textarea {
  margin-top: 38px;
  margin-bottom: 18px;
  padding-top: 15px;
  padding-left: 17px;
  width: 100%;
  min-height: 201px;
  border: 2px solid $border-grey;
  resize: none;
  font-family: inherit;
  line-height: 30px;

  &:hover {
    border-color: $base-color;
  }

  &:active {
    border-color: $pink;
  }

  &:focus {
    outline: none;
    border-color: $pink;
  }
}

.form__textarea::-webkit-input-placeholder {
  color: $base-color;
}

@media (min-width: $tablet-width) {
  .form {
    margin: 48px auto 0 auto;
    width: 94vw;
    max-width: 750px;
  }

  .form__group {
    margin-bottom: 41px;
    padding: 0;
    width: 100%;
    background-color: $white;

    &:not(:first-child) {
      border: 2px solid #e5e5e5;
    }
  }

  .form__group legend {
    position: static;
    margin: auto;
    padding: 0 32px;
    width: auto;
  }


  .form__list li {
    display: flex;
    margin-bottom: 55px;
  }

  .form__group--name label {
    margin-top: -8px;
    margin-left: 0;
    margin-right: 18px;
  }

  .form__group--name input {
    width: 100%;
  }

  .form__group--name {
    order: -3;
  }

  .form__group--checkbox {
    margin-bottom: 56px;
  }

  .form__group--radio {
    order: -2;
    margin-bottom: 57px;
  }

  .form__group--contacts {
    order: -1;
    margin-bottom: 57px;
  }

  .form__group--textarea {
    text-align: center;
  }

  .form__group--textarea legend {
    padding: 0 38px;
  }

  .form__group--contacts legend {
    display: block;
  }

  .form__group--radio legend {
    padding: 0 25px;
  }

  .form__list--name li,
  .form__list--contacts li {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  .form__list--contacts,
  .form__list--checkbox {
    margin: 37px 58px 24px;
  }

  .form__list--radio {
    margin-top: 48px;
    margin-left: 58px;
    margin-bottom: 59px;
  }

  .form__custom-radio {
    padding-left: 60px;
  }

  .form__list--radio li {
    margin-bottom: 45px;
  }

  .form__list--checkbox {
    margin-top: 49px;
    margin-bottom: 53px;
  }

  .form__custom-checkbox {
    padding-left: 60px;
  }

  .form__group--contacts li {
    flex-direction: column;
  }

  .form__list--contacts label {
    align-self: flex-start;
    order: 1;
  }

  .form__list--contacts input {
    width: 100%;
    margin: 0;
  }

  .form__wrapper {
    position: relative;
    margin-top: 0;
    margin-bottom: 10px;
    width: 100%;

    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 2px;
      right: 2px;
      width: 59px;
      height: 59px;
      background-color: $border-grey;
      background-repeat: no-repeat;
      background-position: center;
    }

    &--phone::after {
      background-image: url("../img/icon-phone.svg");
    }

    &--mail::after {
      background-image: url("../img/icon-mail.svg");
    }
  }

  .form__textarea {
    width: 500px;
    min-height: 193px;
    margin-bottom: 48px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 98vw;
    max-width: 1100px;
  }

  .form__group {
    margin: 0;
    margin-bottom: 57px;

    &--name {
      flex: 0 0 45vw;
      margin-top: 8px;
      max-width: 515px;
    }

    &--checkbox {
      height: 240px;
    }

    &--radio {
      flex: 0 0 45vw;
      max-width: 515px;
      height: 320px;
    }
  }

  .form__list--name li {
    margin-top: 5px;

    &:not(:last-child) {
      margin-bottom: 53px;
    }
  }

  .form__list--name label {
    margin-top: 4px;
  }

  .form__list--name input {
    margin: 0;
  }

  .form__list--radio {
    margin-top: 50px;
    margin-left: 72px;
  }

  .form__list--contacts {
    margin-top: 34px;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__list--contacts li {
    flex: 1 0 372px;

    &:nth-child(even) {
      margin-left: 74px;
    }

    &:nth-child(n) {
      margin-bottom: 13px;
    }
  }

  .form__list--checkbox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    height: 100%;
  }

  .form__list--checkbox li {
    &:last-child {
      margin-bottom: 52px;
    }
  }

  .form__textarea {
    margin-top: 34px;
    margin-bottom: 40px;
    width: 820px;
    min-height: 128px;
  }
}
