.main-nav {
  position: relative;
  width: 100%;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 50px;
  height: 24px;
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

.main-nav--closed .main-nav__toggle {
  top: -45px;
  right: 20px;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 2px;
  background-color: $white;
  box-shadow: 0 9px 0 0 $white, 0 18px 0 0 $white;
}

.main-nav--closed .main-nav__toggle:hover::before {
  background-color: $pink;
  box-shadow: 0 9px 0 0 $pink, 0 18px 0 0 $pink;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: $pink;
  opacity: 0.3;
}

.main-nav--open .main-nav__toggle {
  top: -45px;
  right: 20px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    width: 30px;
    height: 2px;
    background-color: $white;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: $pink;
  }

  &:active::before,
  &:active::after {
    background-color: $pink;
    opacity: 0.3;
  }
}

.main-nav__site-list {
  @include list-reset;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
}

.main-nav--no-js .main-nav__toggle {
  display: none;
}

.main-nav--no-js .main-nav__site__list {
  display: block;
}


@media (min-width: $tablet-width) {
  .main-nav--open .main-nav__toggle {
    top: -65px;
    right: 19px;
  }

  .main-nav--closed .main-nav__toggle {
    top: -56px;
    right: 20px;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__site-list {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 100%;
    font-weight: 400;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__site-list {
    line-height: 18px;
    text-transform: none;
  }
}
