.page-header {
  position: absolute;
  width: 100%;
  background-color: rgba($black, 0.3);
  color: white;

  &--opened {
    margin-bottom: -66px;
    position: relative;
    background-color: $base-color;
  }
}

.page-header__logo__wrapper {
  display: flex;
  align-items: center;
  margin: o auto;
  min-height: 69px;
  padding-left: 19px;
  box-shadow: 0 1px $black;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .page-header__logo__wrapper {
    min-height: 109px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    position: absolute;
    width: 100%;
    min-height: 110px;
    background-color: rgba($black, 0.3);
  }

  .page-header__wrapper {
    flex-direction: row;
  }

  .page-header__logo__wrapper {
    width: 147px;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
  }
}
