.page-footer {
  padding-top: 40px;
  padding-bottom: 50px;


  &--index {
    display: none;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
}

.social__list {
  @include list-reset;
}

.copyright__text {
  font-size: 14px;
  line-height: 18px;
  color: $base-color;
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding-top: 36px;

    &--index {
      display: block;
    }
  }

  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding-top: 66px;
  }
}
