.page-header {
  position: relative;
  margin-bottom: -70px;
  width: 100%;
  z-index: 3;
  background-color: $base-color;
  color: white;
}

.page-header__logo__wrapper {
  display: flex;
  align-items: center;
  min-height: 69px;
  padding-left: 19px;
  box-shadow: 0 1px $black;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .page-header {
    margin-bottom: -110px;
  }


  .page-header__logo__wrapper {
    padding-bottom: 19px;
    min-height: 109px;
  }
}

@media (max-width: $mobile-width-only) {
  .page-header {
    &--closed {
      background-color: rgba(0, 0, 0, 0.3);
    }

    &--open {
      background-color: $base-color;
    }
  }

  .page-header--closed .page-header__logo__wrapper {
    box-shadow: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: 100%;
    min-height: 110px;
    background-color: rgba($black, 0.3);
  }

  .page-header__wrapper {
    flex-direction: row;
  }

  .page-header__logo__wrapper {
    width: 147px;
    padding: 0;
    padding-bottom: 25px;
    box-shadow: none;
  }
}
