.reviews {
  margin-bottom: 40px;
  padding-top: 45px;
}

.reviews__list {
  @include list-reset;
  text-align: center;
}

.reviews__item {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 280px;
}

.reviews__author {
  margin-bottom: 13px;
  font-weight: 700;
  line-height: 30px;
}

.reviews__text {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
}

.reviews__info {
  display: none;
}


@media (min-width: $tablet-width) {
  .reviews {
    margin-bottom: 20px;
    padding-top: 30px;
  }


  .reviews__info {
    display: block;
    order: 3;
    font-size: 14px;
    line-height: 30px;
  }

  .reviews__item {
    width: 620px;
  }

  .reviews__author {
    margin: 0;
    font-size: 20px;
    order: 2;
  }

  .reviews__text {
    margin-bottom: 35px;
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    margin-top: 155px;
    margin-bottom: 40px;
  }

  .reviews__wrapper {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -114px;
      left: 46%;
      width: 79px;
      height: 65px;
      background-image: url("../img/icon-quotes.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }

  .reviews__item {
    width: 690px;
    margin: auto;
  }

  .reviews__author {
    font-size: 24px;
  }

  .reviews__text {
    margin-bottom: 36px;
  }

  .reviews__info {
    font-size: 18px;
  }

  .reviews__toggles {
    display: none;
  }
}
