.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 45px;
  width: 173px;
}

.social__link {
  display: flex;
  position: relative;
  width: 46px;
  height: 46px;
  border: 3px solid rgba($base-color, 0.1);
  border-radius: 50%;

  &:hover {
    border-color: $base-color;
  }

  &:active {
    opacity: 0.1;
  }
}

.social__link--twitter {
  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 12px;
    width: 18px;
    height: 18px;
    background-image: url("../img/icon-twitter.svg");
    background-repeat: no-repeat;
  }
}

.social__link--facebook {
  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 15px;
    width: 9px;
    height: 18px;
    background-image: url("../img/icon-facebook.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.social__link--youtube {
  &::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 15px;
    width: 15px;
    height: 15px;
    background-image: url("../img/icon-youtube.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

@media (min-width: $tablet-width) {
  .social__list {
    margin: 0;
    padding-top: 6px;
  }
}

@media (min-width: $desktop-width) {
  .social {
    margin-top: 5px;
  }

  .social__list {
    margin-left: 8px;
  }
}
