
.tariff {
  position: relative;
  padding-top: 89px;
  padding-bottom: 45px;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-size: 101% auto;
  background-position: 50% 0;
  background-color: $grey;
}

.tariff__wrapper {
  position: relative;
  overflow: hidden;
}

.tariff__list {
  display: block;
  margin-left: -236px;
  margin-bottom: 43px;
  width: 850px;
  border-collapse: collapse;
}

.tariff__type {
  padding-top: 23px;
  width: 276px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  background-color: $base-color;
  color: $white;
  border-right: 2px solid $white;

  &--hide {
    display: none;
  }

  &--hit {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 74px;
      height: 73px;
      top: 0;
      left: 0;
      background-image: url("../img/bg-hit.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }

    &::after {
      content: "Хит";
      position: absolute;
      width: 74px;
      top: 12px;
      left: -15px;
      font-size: 15px;
      font-weight: 300;
      transform: rotate(315deg);
    }
  }
}

.tariff__price {
  padding-bottom: 21px;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  background-color: $base-color;
  color: $white;
  border-right: 2px solid $white;

  &--hide {
    display: none;
  }
}

.tariff__price p,
.tariff__type p {
  padding: 0;
  margin: 0;
}

.tariff__content {
  background-color: $white;
}

.tariff__set {
  position: relative;
  padding-left: 22px;
  padding-top: 13px;
  padding-right: 22px;
  padding-bottom: 14px;
  font-size: 14px;
  line-height: 30px;
  text-align: left;
  border-right: 2px solid $border-grey;
  border-bottom: 2px solid $border-grey;
  border-left: 2px solid $border-grey;
}


@media (min-width: $tablet-width) {
  .tariff {
    padding-bottom: 25px;
  }


  .tariff__list {
    width: 620px;
    margin-left: 0;
  }

  .tariff__type {
    font-size: 16px;

    &--hide {
      width: 170px;
      display: block;
      background-color: $grey;
    }
  }

  .tariff__price {
    &--hide {
      display: block;
      background-color: $grey;
    }
  }

  .tariff__set {
    &--hide {
      display: none;
    }
  }

  .tariff__pink-filter,
  .tariff__smile,
  .tariff__coment {
    border-right: 2px solid $border-grey;
    border-bottom: 2px solid $border-grey;
    border-left: 2px solid $border-grey;
  }

  .tariff__toggles {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .tariff {
    padding-top: 149px;
    padding-bottom: 55px;
  }


  .tariff__list {
    width: 940px;
  }

  .tariff__type {
    font-size: 18px;

    &--hide {
      width: 240px;
    }
  }

  .tariff__price {
    font-size: 24px;
  }
}
