.user-photo__text {
  @include text-info;
}

.user-photo__list {
  @include list-reset;
}

.user-photo__item {
  margin-bottom: 20px;
  background-color: $grey;
  color: $base-color;
}

.user-photo__item a {
  text-decoration: none;
}

.user-photo__author {
  font-family: "OpenSans Bold", sans-serif;
  font-size: 14px;
  line-height: 24px;
}

.user-photo__time {
  font-family: "OpenSans Light", sans-serif;
  font-size: 12px;
  line-height: 24px;
}

.user-photo__info {
  font-family: "OpenSans Regular", sans-serif;
  font-size: 14px;
  list-style: 25px;
}

.user-photo__like {
  font-family: "OpenSans Regular", sans-serif;
  font-size: 12px;
  list-style: 24px;
  color: $pink;
}
