.user-photo {
  margin-bottom: 23px;
  padding-top: 45px;
}

.user-photo__text {
  margin: 0 auto;
  margin-bottom: 55px;
  width: 250px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.user-photo__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
}

.user-photo__item {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 20px;

  &--panorama {
    position: relative;
    align-items: center;

    &::after {
      content: "Панорама дня";
      position: absolute;
      padding-top: 5px;
      top: 0;
      right: 20px;
      width: 140px;
      height: 36px;
      font-size: 12px;
      font-weight: 700;
      line-height: 24px;
      text-align: center;
      text-transform: uppercase;
      background-color: $pink;
      color: $white;
    }
  }
}

.user-photo__img {
  display: block;
  width: 280px;
  height: 180px;
  background-color: $grey;

  &--panorama {
    width: 320px;
    height: 137px;
  }
}


.user-photo__author {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  line-height: 24px;
}

.user-photo__time {
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
}

.user-photo__info {
  margin: 0;
  margin-bottom: 9px;
  padding-top: 3px;
  font-size: 14px;
  line-height: 25px;
  text-align: left;
}

.user-photo__like {
  margin-top: auto;
  padding-left: 33px;
  font-size: 12px;
  line-height: unset;
  text-align: left;
  text-transform: uppercase;
  color: $pink;
  background-image: url("../img/icon-heart.svg");
  background-size: 13px 12px;
  background-repeat: no-repeat;
  background-position: left center;
}

.user-photo__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 21px;
  padding-left: 17px;
  padding-right: 10px;
  padding-bottom: 26px;
  width: 280px;
  background-color: $grey;
  color: $base-color;
}

@media (min-width: $tablet-width) {
  .user-photo {
    margin-bottom: 43px;
  }

  .user-photo__text {
    margin-bottom: 80px;
    width: 550px;
    font-size: 18px;
  }

  .user-photo__img {
    width: 300px;
    height: 300px;

    &--panorama {
      min-width: 700px;
      height: 509px;
    }
  }

  .user-photo__list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .user-photo__item {
    margin-bottom: 19px;

    &--panorama {
      width: 620px;

      &::after {
        top: 57px;
        right: 1px;
      }
    }
  }

  .user-photo__wrapper {
    width: 300px;
    min-height: 157px;
    padding-top: 27px;
    padding-left: 27px;
    padding-right: 33px;
    padding-bottom: 30px;

    &--panorama {
      position: relative;
      margin-bottom: 30px;
      padding-bottom: 10px;
      width: 620px;
      min-height: 121px;
    }
  }

  .user-photo__like {
    padding: 0;
    padding-right: 33px;
    background-position: center right;

    &--panorama {
      position: absolute;
      padding-right: 30px;
      right: 30px;
      top: 30px;
      min-width: 118px;
    }
  }
}

@media (min-width: $desktop-width) {
  .user-photo {
    margin-bottom: 7px;
  }

  .user-photo__text {
    margin-bottom: 92px;
  }

  .user-photo__item--panorama {
    width: 940px;

    &::after {
      top: 35px;
    }
  }

  .user-photo__img {
    height: 400px;

    &--panorama {
      min-width: 1200px;
      height: 400px;
    }
  }

  .user-photo__wrapper {
    padding-top: 27px;
    padding-left: 28px;

    &--panorama {
      margin: 0;
      padding-top: 28px;
      width: 940px;
      min-height: 96px;
    }
  }

  .user-photo__like--panorama {
    top: 30px;
    right: 32px;
  }
}
