@font-face {
  font-family: "OpenSans Regular";
  src: url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.woff2") format("woff2");
}

@font-face {
  font-family: "OpenSans Light";
  src: url("../opensanslight.woff") format("woff"), url("../opensanslight.woff2") format("woff2");
}

@font-face {
  font-family: "OpenSans Bold";
  src: url("../opensansbold.woff") format("woff"), url("../opensansbold.woff2") format("woff2");
}
